.big-pur-scr{
    background-color: rgb(134, 20, 134);
    width: 1000px;
    height: 600px;
    border-radius: 10px;
    border: 5px #FFF;
    border-style: solid;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}
main{
    display: flex;
    justify-content: center;
 
 }